body {
    background-image: url("../Background/background_crud.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.form-category {
    position: absolute;
    top: 10%;
    right: 35%;
    left: 35%;
    background-color: whitesmoke;
    border-radius: 8px;
    width: auto;
    height: auto;
    box-shadow: 5px 5px;
    padding: 30px;
}

.button {
    position: relative;
    left: 10%;
    display: inline;
}

#name-admin {
    color: whitesmoke;
    font-size: 15px;
}

#button-logout {
    float: right;
}

h2,label {
    text-align: center;
}

.validate {
    color: red;
}


textarea{
    resize:vertical;
}

.form-product {
    position: absolute;
    top: 12%;
    right: 15%;
    left: 15%;
    background-color: whitesmoke;
    border-radius: 8px;
    width: auto;
    height: auto;
    box-shadow: 5px 5px;
    padding: 30px;
}


